cfe_types_007.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <!-- Campos de valor para atributos ao CFe -->
    <xs:simpleType name="A_CFeVersao">
        <xs:annotation>
            <xs:documentation>Serve para definir o valor da versão para o CFe.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:enumeration value="0.07"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="A_nItem">
        <xs:annotation>
            <xs:documentation>Número do item (1-500)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="500"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Campos de elemento para o CFe -->
    <xs:simpleType name="E_CFeCNPJ">
        <xs:annotation>
            <xs:documentation>Elemento de validação para campos de somente CNPJ</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:pattern value="[0-9]{14}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="E_signAc">
        <xs:annotation>
            <xs:documentation>Elemento de validação para o campo de signAc para comunicação com o SAT.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="344"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="E_numeroCaixa">
        <xs:annotation>
            <xs:documentation>Número de 0 a 999 referente ao caixa em que o SAT está conectado.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="E_IE">
        <xs:annotation>
            <xs:documentation>A IE deve ser informada apenas com algarismos e espaços em branco, sem caracteres de formatação (ponto, barra, hífen, etc.);</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:pattern value="[0-9]{12}|[0-9]{2,14}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="E_IM">
        <xs:annotation>
            <xs:documentation>Este campo deve ser informado, quando ocorrer a emissão de CF-e conjugada, com prestação de serviços sujeitos ao ISSQN e fornecimento de peças sujeitos ao ICMS</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="E_cRegTribISSQN">
        <xs:annotation>
            <xs:documentation>1 - Microempresa Municipal; 2 -Estimativa; 3 -Sociedade de Profissionais; 4 -Cooperativa; 5 -Microempresário Individual (MEI);</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="E_indRatISSQN">
        <xs:annotation>
            <xs:documentation>Informa se o Desconto  sobre subtotal deve ser rateado entre os itens sujeitos à tributação pelo ISSQN.'S' -Desconto sobre subtotal será rateado entre os itens sujeitos ao ISSQN. 'N' - Desconto sobre subtotal não será rateado entre os itens sujeitos ao ISSQN</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:enumeration value="S"/>
            <xs:enumeration value="N"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="E_CPF">
        <xs:annotation>
            <xs:documentation>Informar o CPF do destinatário, preenchendo os zeros não significativos.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:pattern value="[0-9]{0,11}|[0-9]{11}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="E_TDescricao1">
        <xs:annotation>
            <xs:documentation>Campos destinados a elementos de 2 a 60 caracteres.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="2"/>
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="E_TDescricao2">
        <xs:annotation>
            <xs:documentation>Campos destinados a elementos de 1 a 60 caracteres.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="E_TDescricao3">
        <xs:annotation>
            <xs:documentation>Campos destinados a elementos de 1 a 120 caracteres.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="120"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="E_TDescricao4">
        <xs:annotation>
            <xs:documentation>Campos destinados a elementos de 1 a 20 caracteres.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="E_UF">
        <xs:annotation>
            <xs:documentation>Campo destinado aos UFs de estados.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:enumeration value="AC"/>
            <xs:enumeration value="AL"/>
            <xs:enumeration value="AP"/>
            <xs:enumeration value="AM"/>
            <xs:enumeration value="BA"/>
            <xs:enumeration value="CE"/>
            <xs:enumeration value="DF"/>
            <xs:enumeration value="ES"/>
            <xs:enumeration value="GO"/>
            <xs:enumeration value="MA"/>
            <xs:enumeration value="MT"/>
            <xs:enumeration value="MS"/>
            <xs:enumeration value="MG"/>
            <xs:enumeration value="PA"/>
            <xs:enumeration value="PB"/>
            <xs:enumeration value="PR"/>
            <xs:enumeration value="PE"/>
            <xs:enumeration value="PI"/>
            <xs:enumeration value="RJ"/>
            <xs:enumeration value="RN"/>
            <xs:enumeration value="RS"/>
            <xs:enumeration value="RO"/>
            <xs:enumeration value="RR"/>
            <xs:enumeration value="SC"/>
            <xs:enumeration value="SP"/>
            <xs:enumeration value="SE"/>
            <xs:enumeration value="TO"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="E_cEAN">
        <xs:annotation>
            <xs:documentation>GTIN (Global Trade Item Number) do produto, antigo código EAN ou código de barras</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:pattern value="[0-9]{8}|[0-9]{12,14}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="E_NCM">
        <xs:annotation>
            <xs:documentation>Código NCM com 8 dígitos ou 2 dígitos (gênero)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:pattern value="[0-9]{2}|[0-9]{8}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="E_CEST">
        <xs:annotation>
            <xs:documentation>Código Especificador da Substituição Tributária</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:pattern value="[0-9]{7}"/>
        </xs:restriction>
    </xs:simpleType>

	<xs:simpleType name="E_CFOP">
		<xs:annotation>
			<xs:documentation>Código Fiscal de Operações e Prestações</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>

    <xs:simpleType name="E_uCom">
        <xs:annotation>
            <xs:documentation>Informar a unidade de comercialização do produto.No caso de combustíveis, utilizar a unidade de medida da codificação de produtos do Sistema de Informações de Movimentação de produtos - SIMP (http://www.anp.gov.br/simp). </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="E_DECv11c4">
        <xs:annotation>
            <xs:documentation>Campo que pode possuir até 11 digitos no valor com 4 casas decimais.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:pattern value="[0-9]{1,11}\.[0-9]{1,4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="E_DECv12c3">
        <xs:annotation>
            <xs:documentation>Campo que pode possuir até 12 digitos no valor com 3 casas decimais.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:pattern value="[0-9]{1,12}\.[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="E_DECv13c2">
        <xs:annotation>
            <xs:documentation>Campo que pode possuir até 13 digitos no valor com 2 casas decimais.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:pattern value="[0-9]{1,13}\.[0-9]{1,2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="E_DECv3c2">
        <xs:annotation>
            <xs:documentation>Campo que pode possuir até 3 digitos no valor com 2 casas decimais.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:pattern value="[0-9]{1,3}\.[0-9]{1,2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="E_DECv1c4">
        <xs:annotation>
            <xs:documentation>Campo que pode possuir até 1 digitos no valor com 4 casas decimais.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:pattern value="[0-9]{1}\.[0-9]{1,4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="E_indRegra">
        <xs:annotation>
            <xs:documentation>Indicador da regra de cálculo utilizada para  Valor Bruto dos Produtos e Serviços:A -Arredondamento;T -Truncamento</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:enumeration value="A"/>
            <xs:enumeration value="T"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ICMS_Orig">
        <xs:annotation>
            <xs:documentation>Origem da mercadoria</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ICMS00_CST">
        <xs:annotation>
            <xs:documentation>Tributação do ICMS:00 –Tributada integralmente;20 -Com redução de base de cálculo;90 -Outros</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:enumeration value="00"/>
            <xs:enumeration value="20"/>
            <xs:enumeration value="90"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ICMS40_CST">
        <xs:annotation>
            <xs:documentation>Tributação do ICMS –40 -Isenta;41 -Não tributada; 60 -ICMS cobrado anteriormente por substituição tributária</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:enumeration value="40"/>
            <xs:enumeration value="41"/>
            <xs:enumeration value="60"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ICMSSN102_CSOSN">
        <xs:annotation>
            <xs:documentation>Campo cRegTrib=1 –Simples Nacional e CSOSN=102, 300, 400, 500</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:enumeration value="102"/>
            <xs:enumeration value="300"/>
            <xs:enumeration value="400"/>
            <xs:enumeration value="500"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ICMSSN900_CSOSN">
        <xs:annotation>
            <xs:documentation>Campo cRegTrib=1 –Simples Nacional e CSOSN=900</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:enumeration value="900"/>
        </xs:restriction>
    </xs:simpleType>

	<xs:simpleType name="PISAliq_CST">
		<xs:annotation>
			<xs:documentation>CST = 01, 02 e 05</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="05"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PISQtde_CST">
		<xs:annotation>
			<xs:documentation>CST = 03</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
			<xs:enumeration value="03"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PISNT_CST">
		<xs:annotation>
			<xs:documentation>CST = 04, 06, 07, 08 ou 09</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PISSN_CST">
		<xs:annotation>
			<xs:documentation>CST = 49</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
			<xs:enumeration value="49"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PISOutr_CST">
		<xs:annotation>
			<xs:documentation>CST = 99</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="COFINSAliq_CST">
		<xs:annotation>
			<xs:documentation>CST = 01, 02 e 05</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="05"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="COFINSQtde_CST">
		<xs:annotation>
			<xs:documentation>CST = 03</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:enumeration value="03"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="COFINSNT_CST">
		<xs:annotation>
			<xs:documentation>CST = 04, 06, 07, 08 ou 09</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="COFINSSN_CST">
		<xs:annotation>
			<xs:documentation>CST = 49</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:enumeration value="49"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="COFINSOutr_CST">
		<xs:annotation>
			<xs:documentation>CST = 99</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="E_ISSQN_ListServ">
		<xs:annotation>
			<xs:documentation>Item da Lista de Serviços</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="E_ISSQN_cServTribMun">
		<xs:annotation>
			<xs:documentation>Codigo de tributação pelo ISSQN do municipio</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="E_ISSQN_cNatOper">
		<xs:annotation>
			<xs:documentation>Natureza da Operação de ISSQN</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="08"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="E_ISSQN_indIncFisc">
		<xs:annotation>
			<xs:documentation>Indicador de Incentivo Fiscal do ISSQN</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="E_infAdProd">
		<xs:annotation>
			<xs:documentation>Informações Adicionais do Produto</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="E_cMP">
		<xs:annotation>
			<xs:documentation>Código do Meio de Pagamento empregado para quitação do CF-e</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="E_cAdmC">
		<xs:annotation>
			<xs:documentation>Credenciadora de cartão de débito ou crédito</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="E_infCpl">
		<xs:annotation>
			<xs:documentation>Informações Complementares de interesse do Contribuinte</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="5000"/>
		</xs:restriction>
	</xs:simpleType>

    <!-- Campos complexos para cfe -->
    <xs:complexType name="EC_ide">
        <xs:annotation>
            <xs:documentation>Grupo das informações de identificação do CF-e</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CNPJ" type="E_CFeCNPJ" minOccurs="1" maxOccurs="1"/>
            <xs:element name="signAC" type="E_signAc" minOccurs="1" maxOccurs="1"/>
            <xs:element name="numeroCaixa" type="E_numeroCaixa" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EC_emit">
        <xs:annotation>
            <xs:documentation>Grupo do Endereço do emitente</xs:documentation>
        </xs:annotation>
        <xs:sequence>
			<xs:element name="CNPJ" type="E_CFeCNPJ" minOccurs="1" maxOccurs="1"/>
            <xs:element name="IE" type="E_IE" minOccurs="1" maxOccurs="1"/>
            <xs:element name="IM" type="E_IM" minOccurs="0" maxOccurs="1"/>
            <xs:element name="cRegTribISSQN" type="E_cRegTribISSQN" minOccurs="0" maxOccurs="1"/>
            <xs:element name="indRatISSQN" type="E_indRatISSQN" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EC_dest">
        <xs:annotation>
            <xs:documentation>Grupo de identificação do Destinatário do CF-e</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CNPJ" type="E_CFeCNPJ" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CPF" type="E_CPF" minOccurs="0" maxOccurs="1"/>
            <xs:element name="xNome" type="E_TDescricao1" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EC_entrega">
        <xs:annotation>
            <xs:documentation>Grupo de identificação do Local de entrega</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="xLgr" type="E_TDescricao1" minOccurs="1" maxOccurs="1"/>
            <xs:element name="nro" type="E_TDescricao2" minOccurs="1" maxOccurs="1"/>
            <xs:element name="xCpl" type="E_TDescricao2" minOccurs="0" maxOccurs="1"/>
            <xs:element name="xBairro" type="E_TDescricao2" minOccurs="1" maxOccurs="1"/>
            <xs:element name="xMun" type="E_TDescricao1" minOccurs="1" maxOccurs="1"/>
            <xs:element name="UF" type="E_UF" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EC_infCFe">
        <xs:annotation>
            <xs:documentation>Grupo das informações do CF-e</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ide" type="EC_ide" minOccurs="1" maxOccurs="1"/>
            <xs:element name="emit" type="EC_emit" minOccurs="1" maxOccurs="1"/>
            <xs:element name="dest" type="EC_dest" minOccurs="1" maxOccurs="1"/>
            <xs:element name="entrega" type="EC_entrega" minOccurs="0" maxOccurs="1"/>
            <xs:element name="det" type="EC_det" minOccurs="1" maxOccurs="500"/>
			<xs:element name="total" type="EC_total" minOccurs="1" maxOccurs="1"/>
			<xs:element name="pgto" type="EC_pgto" minOccurs="1" maxOccurs="1"/>
			<xs:element name="infAdic" type="EC_infAdic" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="versaoDadosEnt" use="required" type="A_CFeVersao"/>
    </xs:complexType>

    <xs:complexType name="EC_obsFiscoDet">
        <xs:annotation>
            <xs:documentation>Grupo do campo de uso livre do Fisco</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="xCampoDet" type="E_TDescricao4" minOccurs="1" maxOccurs="1"/>
            <xs:element name="xTextoDet" type="E_TDescricao2" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EC_ICMS00">
        <xs:annotation>
            <xs:documentation>Tributação do ICMS:00 –Tributada integralmente;20 -Com redução de base de cálculo;90 -Outros</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Orig" type="ICMS_Orig" minOccurs="1" maxOccurs="1"/>
            <xs:element name="CST" type="ICMS00_CST" minOccurs="1" maxOccurs="1"/>
            <xs:element name="pICMS" type="E_DECv3c2" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EC_ICMS40">
        <xs:annotation>
            <xs:documentation>Campo cRegTrib=3 –Regime Normal</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Orig" type="ICMS_Orig" minOccurs="1" maxOccurs="1"/>
            <xs:element name="CST" type="ICMS40_CST" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EC_ICMSSN102">
        <xs:annotation>
            <xs:documentation>Campo cRegTrib=1 –Simples Nacional e CSOSN=102, 300, 400, 500</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Orig" type="ICMS_Orig" minOccurs="1" maxOccurs="1"/>
            <xs:element name="CSOSN" type="ICMSSN102_CSOSN"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EC_ICMSSN900">
        <xs:annotation>
            <xs:documentation>Campo cRegTrib=1 –Simples Nacional e CSOSN=900</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Orig" type="ICMS_Orig" minOccurs="1" maxOccurs="1"/>
            <xs:element name="CSOSN" type="ICMSSN900_CSOSN"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EC_ICMS">
        <xs:annotation>
            <xs:documentation>Grupo do ICMS da Operação própria e ST</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="ICMS00" type="EC_ICMS00"/>
            <xs:element name="ICMS40" type="EC_ICMS40"/>
            <xs:element name="ICMSSN102" type="EC_ICMSSN102"/>
            <xs:element name="ICMSSN900" type="EC_ICMSSN900"/>
        </xs:choice>
    </xs:complexType>

	<xs:complexType name="EC_PISAliq">
		<xs:annotation>
			<xs:documentation>Grupo de PIS tributado pela alíquota</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CST" type="PISAliq_CST" minOccurs="1" maxOccurs="1"/>
			<xs:element name="vBC" type="E_DECv13c2" minOccurs="1" maxOccurs="1"/>
			<xs:element name="pPIS" type="E_DECv1c4" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="EC_PISQtde">
		<xs:annotation>
			<xs:documentation>Grupo de PIS tributado por Qtde</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CST" type="PISQtde_CST" minOccurs="1" maxOccurs="1"/>
			<xs:element name="qBCProd" type="E_DECv11c4" minOccurs="1" maxOccurs="1"/>
			<xs:element name="vAliqProd" type="E_DECv11c4" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EC_PISNT">
		<xs:annotation>
			<xs:documentation>Grupo de PIS não tributado</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CST" type="PISNT_CST" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EC_PISSN">
		<xs:annotation>
			<xs:documentation>Grupo de PIS para contribuinte do SIMPLES NACIONAL</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CST" type="PISSN_CST" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EC_PISOutr">
		<xs:annotation>
			<xs:documentation>Grupo de PIS Outras Operações</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CST" type="PISOutr_CST" minOccurs="1" maxOccurs="1"/>
			<xs:element name="vBC" type="E_DECv12c3" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pPIS" type="E_DECv1c4" minOccurs="0" maxOccurs="1"/>
			<xs:element name="qBCProd" type="E_DECv11c4" minOccurs="0" maxOccurs="1"/>
			<xs:element name="vAliqProd" type="E_DECv11c4" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
    <xs:complexType name="EC_PIS">
        <xs:annotation>
            <xs:documentation>Grupo do PIS</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="PISAliq" type="EC_PISAliq"/>
            <xs:element name="PISQtde" type="EC_PISQtde"/>
            <xs:element name="PISNT" type="EC_PISNT"/>
            <xs:element name="PISSN" type="EC_PISSN"/>
            <xs:element name="PISOutr" type="EC_PISOutr"/>
        </xs:choice>
    </xs:complexType>

	<xs:complexType name="EC_PISST">
		<xs:annotation>
			<xs:documentation>Grupo de PIS Substituição Tributária</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vBC" type="E_DECv13c2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pPIS" type="E_DECv1c4" minOccurs="0" maxOccurs="1"/>
			<xs:element name="qBCProd" type="E_DECv11c4" minOccurs="0" maxOccurs="1"/>
			<xs:element name="vAliqProd" type="E_DECv11c4" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EC_COFINSAliq">
		<xs:annotation>
			<xs:documentation>Grupo de COFINS tributado pela alíquota</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CST" type="COFINSAliq_CST" minOccurs="1" maxOccurs="1"/>
			<xs:element name="vBC" type="E_DECv13c2" minOccurs="1" maxOccurs="1"/>
			<xs:element name="pCOFINS" type="E_DECv1c4" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EC_COFINSQtde">
		<xs:annotation>
			<xs:documentation>Grupo de COFINS tributado por Qtde</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CST" type="COFINSQtde_CST" minOccurs="1" maxOccurs="1"/>
			<xs:element name="qBCProd" type="E_DECv11c4" minOccurs="1" maxOccurs="1"/>
			<xs:element name="vAliqProd" type="E_DECv11c4" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EC_COFINSNT">
		<xs:annotation>
			<xs:documentation>Grupo de COFINS não tributado</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CST" type="COFINSNT_CST" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EC_COFINSSN">
		<xs:annotation>
			<xs:documentation>Grupo de COFINS para contribuinte do SIMPLES</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CST" type="COFINSSN_CST" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EC_COFINSOutr">
		<xs:annotation>
			<xs:documentation>Grupo de COFINS Outras Operações</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CST" type="COFINSOutr_CST" minOccurs="1" maxOccurs="1"/>
			<xs:element name="vBC" type="E_DECv13c2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pCOFINS" type="E_DECv1c4" minOccurs="0" maxOccurs="1"/>
			<xs:element name="qBCProd" type="E_DECv11c4" minOccurs="0" maxOccurs="1"/>
			<xs:element name="vAliqProd" type="E_DECv11c4" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EC_COFINSST">
		<xs:annotation>
			<xs:documentation>Grupo de COFINS Substituição Tributária</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vBC" type="E_DECv13c2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pCOFINS" type="E_DECv1c4" minOccurs="0" maxOccurs="1"/>
			<xs:element name="qBCProd" type="E_DECv11c4" minOccurs="0" maxOccurs="1"/>
			<xs:element name="vAliqProd" type="E_DECv11c4" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EC_COFINS">
		<xs:annotation>
			<xs:documentation>Grupo do COFINS</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="COFINSAliq" type="EC_COFINSAliq"/>
			<xs:element name="COFINSQtde" type="EC_COFINSQtde"/>
			<xs:element name="COFINSNT" type="EC_COFINSNT"/>
			<xs:element name="COFINSSN" type="EC_COFINSSN"/>
			<xs:element name="COFINSOutr" type="EC_COFINSOutr"/>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="EC_ISSQN">
		<xs:annotation>
			<xs:documentation>Grupo do ISSQN</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vDeducISSQN" type="E_DECv13c2" minOccurs="1" maxOccurs="1"/>
			<xs:element name="vBC" type="E_DECv13c2" minOccurs="1" maxOccurs="1"/>
			<xs:element name="vAliq" type="E_DECv3c2" minOccurs="1" maxOccurs="1"/>
			<xs:element name="vISSQN" type="E_DECv13c2" minOccurs="1" maxOccurs="1"/>
			<xs:element name="cMunFG" type="E_CEST" minOccurs="0" maxOccurs="1"/>
			<xs:element name="cListServ" type="E_ISSQN_ListServ" minOccurs="0" maxOccurs="1"/>
			<xs:element name="cServTribMun" type="E_ISSQN_cServTribMun" minOccurs="0" maxOccurs="1"/>
			<xs:element name="cNatOp" type="E_ISSQN_cNatOper" minOccurs="1" maxOccurs="1"/>
			<xs:element name="indIncFisc" type="E_ISSQN_indIncFisc" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
    <xs:complexType name="EC_imposto">
        <xs:annotation>
            <xs:documentation>Grupo de Tributos incidentes no Produto ou Serviço</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="vItem12741" type="E_DECv13c2" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ICMS" type="EC_ICMS" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PIS" type="EC_PIS" minOccurs="1" maxOccurs="1"/>
            <xs:element name="PISST" type="EC_PISST" minOccurs="0" maxOccurs="1"/>
            <xs:element name="COFINS" type="EC_COFINS" minOccurs="1" maxOccurs="1"/>
			<xs:element name="COFINSST" type="EC_COFINSST" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ISSQN" type="EC_ISSQN" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EC_prod">
        <xs:annotation>
            <xs:documentation>TAG de grupo do detalhamento de Produtos e Serviços do CF-e</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="cProd" type="E_TDescricao2" minOccurs="1" maxOccurs="1"/>
            <xs:element name="cEAN" type="E_cEAN" minOccurs="0" maxOccurs="1"/>
            <xs:element name="xProd" type="E_TDescricao3" minOccurs="1" maxOccurs="1"/>
            <xs:element name="NCM" type="E_NCM" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CEST" type="E_CEST" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CFOP" type="E_CFOP" minOccurs="1" maxOccurs="1"/>
            <xs:element name="uCom" type="E_uCom" minOccurs="1" maxOccurs="1"/>
            <xs:element name="qCom" type="E_DECv11c4" minOccurs="1" maxOccurs="1"/>
            <xs:element name="vUnCom" type="E_DECv12c3" minOccurs="1" maxOccurs="1"/>
            <xs:element name="indRegra" type="E_indRegra" minOccurs="1" maxOccurs="1"/>
            <xs:element name="vDesc" type="E_DECv13c2" minOccurs="0" maxOccurs="1"/>
            <xs:element name="vOutro" type="E_DECv13c2" minOccurs="0" maxOccurs="1"/>
            <xs:element name="obsFiscoDet" type="EC_obsFiscoDet" minOccurs="0" maxOccurs="10"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EC_det">
        <xs:annotation>
            <xs:documentation>Grupo do detalhamento de Produtos e Serviços do CF-e</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="prod" type="EC_prod" minOccurs="1" maxOccurs="1"/>
            <xs:element name="imposto" type="EC_imposto" minOccurs="1" maxOccurs="1"/>
			<xs:element name="infAdProd" type="E_infAdProd" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="nItem" use="required" type="A_nItem"/>
    </xs:complexType>

	<xs:complexType name="EC_DescAcrEntr">
		<xs:annotation>
			<xs:documentation>Grupo de valores de entrada de Desconto/Acréscimo sobre Subtotal</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vDescSubtot" type="E_DECv13c2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="vAcresSubtot" type="E_DECv13c2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="vCFeLei12741" type="E_DECv13c2" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="EC_total">
		<xs:annotation>
			<xs:documentation>Grupo  de  Valores Totais do CF-e</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DescAcrEntr" type="EC_DescAcrEntr" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EC_pgto_MP">
		<xs:annotation>
			<xs:documentation>Grupo de informações dos Meios de Pagamento empregados na quitação do CF-e</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="cMP" type="E_cMP" minOccurs="1" maxOccurs="1"/>
			<xs:element name="vMP" type="E_DECv13c2" minOccurs="1" maxOccurs="1"/>
			<xs:element name="cAdmC" type="E_cAdmC" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="EC_pgto">
		<xs:annotation>
			<xs:documentation>Grupo de informações sobre Pagamento do CF-e</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MP" type="EC_pgto_MP" minOccurs="1" maxOccurs="10"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EC_infAdic">
		<xs:annotation>
			<xs:documentation>Grupo de Informações Adicionais</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="infCpl" type="E_infCpl" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
    <xs:complexType name="EC_CFe">
        <xs:annotation>
            <xs:documentation>TAG raiz do CF-e</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="infCFe" type="EC_infCFe" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>